@model System.Collections.Generic.IEnumerable<Wreckastow.Models.Album>
<ul id="latest-albums" class="list-unstyled">
    @foreach (var album in Model) {
    <li class="album">
        <h4>@album.Title</h4>
    </li>
    }
</ul>
