@page "{albumTitle?}"
@model AlbumPage
<div>
    <h1 id="album-title">@Model.Title</h1>
    <div id="album-release-date">@Model.ReleaseDate.ToString("Y")</div>
    <section id="album-description">
        @Model.Description
    </section>
</div>